# Git commands for this file

git pull origin gh-pages - To sync the changes from remote github to the local directory

git status

git add Complete Python Bootcamp.ipynb

git commit -m "complete python bootcamp"

git push origin gh-pages

# Datatypes in python

![data-types](images/data-types-python.png)

# To check for the datatype in python

In [3]:
a = 20
type(a)

int

In [4]:
a = 30.1
type(a)

float

# Strings in python

In [ ]:
# Both single quotes and double quotes can be used to denote a string

In [5]:
"hello"

'hello'

In [6]:
'hello'

'hello'

In [ ]:
# If there is a single quote in the string then wrap the whole string in double quotes

In [7]:
"I'm going on a run"

"I'm going on a run"

## Using Escape character in python

In [8]:
print('hello \n world')

hello
 world

In [9]:
print('hello \t world')

hello 	 world

## To check the length of the string

In [10]:
len('Hello')

5

## String Indexing and slicing

In [11]:
mystring = "Hello World"

In [12]:
mystring

'Hello World'

In [13]:
mystring[0]

'H'

In [14]:
mystring[1]

'e'

## Reverse indexing in python

In [15]:
mystring

'Hello World'

In [16]:
mystring[-2]

'l'

In [17]:
mystring[-1]

'd'

## Slicing in python

In [18]:
mystring = "abcdefghijk"

In [19]:
mystring

'abcdefghijk'

In [20]:
mystring[2]

'c'

In [21]:
mystring[2:]

'cdefghijk'

In [22]:
mystring[:3]

'abc'

In [23]:
mystring[3:6]

'def'

## Using Step size in Python for strings

In [24]:
mystring[::]

'abcdefghijk'

In [25]:
mystring[::2]

'acegik'

In [26]:
mystring[::3]

'adgj'

In [27]:
mystring[2:7:2]

'ceg'

In [28]:
mystring[2:7:1]

'cdefg'

In [ ]:
# Using reverse step size in python

In [30]:
mystring[::-1]

'kjihgfedcba'

In [31]:
mystring[::-2]

'kigeca'

# String Methods

In [36]:
x = "hello world"

In [37]:
x

'hello world'

In [38]:
x.capitalize()

'Hello world'

In [39]:
x.upper()

'HELLO WORLD'

In [40]:
x.lower()

'hello world'

In [41]:
x.split()

['hello', 'world']

In [ ]:
# You can also use split function to remove a certain character as shown below. To remove the letter 'o' you can use the code below.

In [43]:
x.split('o')

['hell', ' w', 'rld']

In [ ]:
# Inserting strings inbetween

In [44]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [45]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [46]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [47]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [ ]:
# Using F STRING & injecting variables to strings

In [49]:
name = "Jose"

In [50]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [51]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [52]:
name ="Sam"
age=3

In [56]:
print(f'Name is {name} and age is {age}')

Name is Sam and age is 3

# Lists in Python

In [2]:
my_list = [1,2,3]

In [3]:
my_list

[1, 2, 3]

In [5]:
my_list = ['STRING', 100, 23.2]

In [6]:
my_list

['STRING', 100, 23.2]

In [ ]:
# To check the length of the list or to check how many items are there in the list

In [7]:
len(my_list)

3

In [8]:
my_list[0]

'STRING'

In [9]:
my_list[1]

100

In [ ]:
# To grab all the values in the list from 1 all the way to the last element

In [10]:
my_list[1:]

[100, 23.2]

In [ ]:
# To concatenate multiple list

In [12]:
my_list = ['one', 'two', 'three']

In [13]:
another_list = ['four', 'five']

In [14]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [15]:
new_list = my_list + another_list

In [16]:
new_list

['one', 'two', 'three', 'four', 'five']

In [17]:
new_list[0] = 'ONE ALL CAPS'

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [ ]:
# To add an element to the list

In [19]:
new_list.append('six')

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [ ]:
# To remove the last item from the list

In [21]:
new_list.pop()

'six'

In [22]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [23]:
# You can also use pop to get the last item from the list

In [24]:
popped_item = new_list.pop()

In [25]:
popped_item

'five'

In [26]:
# To remove a specific item from the list using the index position

In [27]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [28]:
new_list.pop(0)

'ONE ALL CAPS'

In [29]:
new_list

['two', 'three', 'four']

In [30]:
# To sort items in the list

In [31]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [32]:
new_list.sort()

In [33]:
new_list

['a', 'b', 'c', 'e', 'x']

In [35]:
num_list.sort()

In [36]:
num_list

[1, 3, 4, 8]

In [ ]:
# To reverse eveything in your list

In [38]:
num_list.reverse()

In [39]:
num_list

[8, 4, 3, 1]

In [1]:
# Ways to store and access values in a list
mystring = 'Hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['H', 'e', 'l', 'l', 'o']

In [2]:
# Another way to store and access values in a list
mylist = [letter for letter in mystring]
mylist

['H', 'e', 'l', 'l', 'o']

In [5]:
# Another example to store and access values in a list
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [7]:
# Another example to store and access values in a list
mylist= [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# Another example to store and access values in a list
# To grab square of every number
mylist= [num**2 for num in range(0,11)] 
mylist #lists the squared version of each number

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
# Another example using if loop to store and access values in a list
# Grab only those numbers if mod 2 = 0. mod is remainder ie recieves even number

mylist= [num for num in range(0,11) if num%2 == 0] 
mylist #lists the even number

[0, 2, 4, 6, 8, 10]

In [17]:
# Another example using if else loop and access the value in a list
# If you use else statement order will be reversed than the previous example which uses only if statement
results = [num if num%2==0 else 'ODD' for num in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [12]:
# Another example to store and access values in a list
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [14]:
# Another example to store and access values in a list
celcius = [0,10,20,34.5]
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [18]:
# Another example to store and access values in a list using multiple for loops
mylist = []
for x in [2,4,6]:
    for y in [1,10,300]:
        mylist.append(x*y)
mylist

[2, 20, 600, 4, 40, 1200, 6, 60, 1800]

# Dictionaries in python

In [1]:
# Dictionaries allow you to store values in key value pairs

In [2]:
# Remember dictionaries cannot be sorted and lists can be sorted. We can retrieve the values of the list based on location eg: mylist[3] -> will print the 3rd value

In [3]:
my_dict = {'key1': 'value1', 'key2':'value2'}

In [4]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [5]:
my_dict['key2']

'value2'

In [6]:
prices_lookup = {'apple':2.99, 'oranges': 1.99, 'milk':5.80}

In [7]:
prices_lookup

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8}

In [8]:
prices_lookup['apple']

2.99

In [9]:
# A dictionary can have a list or another dictionary

In [3]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [11]:
d['k2']

[0, 1, 2]

In [12]:
d['k3']

{'insidekey': 100}

In [13]:
d['k3']['insidekey']

100

In [1]:
# To return all the keys

In [4]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [5]:
# To return all the values

In [6]:
d.values()

dict_values([123, [0, 1, 2], {'insidekey': 100}])

In [ ]:
# To return all the pairings

In [7]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'insidekey': 100})])

In [29]:
# To loop through a dictionary

In [30]:
d = {'k1':1, 'k2':2, 'k3':3}

In [35]:
for item in d:   # if you use only d then only key names will be printed as k1, k2, k3. If you use d.items() you will get both key:value pair
    print(item)

k1
k2
k3

In [36]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
for key,value in d.items():
    print(value)

1
2
3

In [33]:
for key, value in d.items():
    print(key)

k1
k2
k3

# Tuples in Python

In [8]:
# Tuples are similiar to lists. In list you can reassign the value but in a tuple you cannot reassign. Example shown below

In [ ]:
# tuples are denoted in round brackets

In [10]:
t =(1,2,3)

In [ ]:
# lists are denoted in square brackets

In [11]:
mylist = [1,2,3]

In [12]:
type(t)

tuple

In [13]:
type(mylist)

list

In [14]:
mylist[0] = 'NEW'

In [15]:
mylist

['NEW', 2, 3]

In [ ]:
# If you see the above code NEW has been reassigned instead of 1. This is not something which is possible in tuple

In [ ]:
t[0] = 'NEW' -> //this will be an error in tuple

In [ ]:
# Accessing tuples

In [18]:
t[0]

1

In [19]:
t[-1]  #to access the last item

3

In [20]:
t = ('a','a','a','b','b')

In [ ]:
# to count the number of times a is available in the above tuple

In [21]:
t.count('a')

3

In [22]:
t.count('b')

2

In [23]:
t.count('c')

0

In [ ]:
# to find the very first time a occurs

In [24]:
t.index('a')  # 'a' occurs for the very first time in the 0th index

0

In [25]:
t.index('b')  # 'b' occurs for the very time in the 3rd index

3

In [23]:
# List of tuples in a list

In [24]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [25]:
# to print all the tuples in mylist

In [26]:
for (a,b) in mylist:
    print(a)  #prints all the first tuple

1
3
5
7

In [28]:
for (a,b) in mylist:
    print(b) #prints all the second item in tuple

2
4
6
8

# SETS in PYTHON

In [ ]:
# sets can only contain unique values

In [ ]:
# Declaring a set

In [26]:
myset = set();

In [27]:
myset

set()

In [ ]:
# To add an object to the set

In [28]:
myset.add(1)

In [29]:
myset

{1}

In [30]:
myset.add(2)

In [31]:
myset

{1, 2}

In [ ]:
# I am trying to add 2 another time

In [33]:
myset.add(2)

In [34]:
myset  #the duplicate 2 inserted is not added to the set as shown below

{1, 2}

# Booleans in python

In [35]:
True

True

In [36]:
False

False

In [37]:
type(True)

bool

In [38]:
type(False)

bool

In [39]:
1 > 2

False

In [40]:
1 == 1

True

In [41]:
b = None

In [42]:
b

In [43]:
type(b)

NoneType

# Working with text files in Jupyter notebook

In [ ]:
# The first line code only works in Jupyter notebook. This code would automatically create a text file and write the content to the file

In [44]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [45]:
myfile = open('myfile.txt')

In [46]:
myfile.read() #reads the whole file

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [47]:
myfile.read()  #The reason why you get empty value, the second time you read the file is because the cursor in the last position. You will have to resposition the cursor to the first position to read the file again using the seek() function

''

In [48]:
myfile.seek(0) #point the cursor to the first position from the last position and then read the file

0

In [49]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [50]:
#If you want each line as a seperate object you can use the readlines() function

In [54]:
myfile.seek(0)

0

In [55]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [ ]:
# To open a file in a different path

In [ ]:
myfile = open("c:\\Users\\UserName\\Folder\\test.txt")

In [56]:
# For macos and linux you use slashes in the opposite direction

In [ ]:
myfile = open("/users/YourUserName/Folder/myfile.txt")

In [57]:
# To check for the file path format you can use pwd

In [58]:
pwd

'D:\\Reference'

In [ ]:
# To open the file you can also use the below code

In [60]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [61]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [ ]:
# Using mode paramater in a file (to read, write and append)

In [74]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [75]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [76]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [77]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [78]:
# Writing to a file

In [79]:
with open('sdsdsdsd.txt', mode='w') as f:
    f.write('I created this file')

In [ ]:
# Now to read the above file which is created

In [82]:
with open('sdsdsdsd.txt', mode='r') as f:
    print(f.read());

I created this file

# Comparison operators in Python

In [ ]:
Operators in python
==  (a==b) is not true
!=  (a != b)is true
>   (a>b) is not true
<   (a < b) is true
>=  (a >= b) is not true
<=  (a <= b) is true

In [83]:
'hello' == 'bye'

False

In [84]:
'Bye' == 'bye'

False

In [85]:
'Bye' == 'Bye'

True

In [86]:
2.0 == 2

True

In [87]:
4 != 5

True

# Logical operators in python

In [ ]:
and
or
not

In [1]:
100 ==1 or 2 == 200

False

In [2]:
100 == 100 or 2 == 200

True

In [3]:
100 == 100 and 2 == 200

False

In [4]:
1 == 1

True

In [ ]:
# If you want to do the opposite of 1 == 1, then

In [5]:
not(1 == 1)

False

In [6]:
not 1 == 1

False

# Loops in Python

In [7]:
if True:
    print('Its True')

Its True

In [8]:
if 3 > 2:
    print('Its true')

Its true

In [9]:
hungry = True;
if hungry:
    print('Feed me!')

Feed me!

In [10]:
hungry = False;
if hungry:
    print('Feed me!')
else:
    print('I am not hungry')

I am not hungry

In [13]:
loc = 'bank'

if loc == 'Auto shop':
    print('cars are cool')
elif loc == "bank":
    print('Money is cool')
else:
    print('I do not know much')

Money is cool

In [14]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [15]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [18]:
for num in mylist:
    if num%2 == 0:
        print(num)
    else:
        #print(f) is used to inject variables in print statement using {}
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [20]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [22]:
tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

In [ ]:
# While loop in python

In [38]:
x  = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 # you can also write x = x+1 as x +=1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [41]:
x  = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 # you can also write x = x+1 as x +=1
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

# break, continue, pass, in operators in python

In [ ]:
break: breaks out of the current enclosing loop
continue: goes to the top of the enclosing loop
pass: does nothing at all

In [42]:
x = [1,2,3]
for item in x:
    pass

print('end of my script')

end of my script

In [47]:
mystring = 'sammy'
for letter in mystring:
    if letter == 'a':
       continue  #if continue appears it says go back to the enclosing loop which is for loop and hence 'a' is skipped and s m m y is printed
    print(letter)

s
m
m
y

In [ ]:
mystring = 'sammy'
for letter in mystring:
    if letter == 'a':
       break  #breaks out of the current enclosing loop i.e for
    print(letter)

In [ ]:
mylist = [1,2,3]
for num in range()

In [1]:
# in operator -> used to check whether there is something in the datatype

In [2]:
'x' in ['x','y','z']

True

In [3]:
d = {'mykey1':345, 'mykey2':678}
345 in d.values()

True

In [5]:
'a' in 'a world'

True

# range(), zip(), min(), max(), random()

In [6]:
for num in range(10): #print all the numbers in a range of 10. Remember it does not include 10
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(3,10): # print number within 3 to 10
    print(num)

3
4
5
6
7
8
9

In [8]:
for num in range(3,10,2): # last parameter is called step size. It jumps in range of 2
    print(num)

3
5
7
9

In [9]:
list(range(1,10,2))  #inserting range values in a list datatype

[1, 3, 5, 7, 9]

In [10]:
tuple(range(1,10,2)) #inserting range values in a tuple datatype

(1, 3, 5, 7, 9)

In [11]:
# zip function - used to combine values

In [12]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
print(zip(mylist1,mylist2,mylist3))

<zip object at 0x000002B77F2A4708>

In [13]:
# to print all the zipped items you will have to use for loop
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [14]:
# An example of passing the zipped values to a list
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [17]:
# To unpack the list you can use
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a)

1
2
3

In [21]:
# min function
mylist1 = [1,2,3,4,5,6]
min(mylist1)

1

In [22]:
# max function
mylist1 = [1,2,3,4,5,6]
max(mylist1)

6

# Using random library in python

In [ ]:
# Using the shuffle() function from the random library

In [32]:
from random import shuffle # from the random library which is built into python import the shuffle function
mylist = [1,2,3,4,5,6,7,8]
shuffle(mylist)    #remember shuffle() will not return anything so you cannot use my_shuffled_list = shuffle(mylist)
mylist

[7, 8, 4, 5, 1, 3, 6, 2]

In [ ]:
# Using the randint() function from the random lirbary

In [34]:
from random import randint # from the random library which is built into python, import the randint function
randint(1,10)  #import any random number from 1 to 10

7

# How to get user input in python

In [43]:
result = input('Enter a number here: ')
print(result)
type(result) #input() always accepts anything that is passed into it as a string function
# Now if you want to convert that result into int or float, you will have to pass it to int() or float() function
# int(result) or float(result)

Enter a number here: 50
50

str

In [44]:
# you can also write it like this
result = int(input('Enter a number here: '))
print(result)
type(result)

Enter a number here: 50
50

int

# Methods and Functions in Python

In [20]:
# How to use help funcion
mylist = [1,2,3]
help(mylist.append)  # you can use the help() function to get the documentation

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [28]:
# A simple function
def name_function(name):
    '''
    DOCSTRING: Information about the function
    INPUT: no input
    OUTPUT: HEllo..
    '''
    print('Hello' + name)
name_function(' Jose')

Hello Jose

In [25]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    INPUT: no input
    OUTPUT: HEllo..

In [30]:
# Using return statement
def add(n1,n2):
    return n1+n2
result = add(10,20)
result

30